
@{
    ViewData["Title"] = "Search";
}

<h1>Search for people</h1>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{

    <div class="alert @ViewBag.Type" role="alert" id="divAlert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> @ViewBag.Message
    </div>

    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 2000);
    </script>

}

@model List<Person>

<div>
    
</div>

<table width="100%" border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.FirstName @person.Surname</td>
                <td>@person.Birthday</td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/Person/Update?id=@person.Id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Person/Delete?id=@person.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div>
    <a class="btn btn-dark" asp-controller="Person" asp-action="New">New Person</a>
</div>
